body
{
	height:3000px;
}

#sidebar
{
	width:80px;
	height:80px;
	float:right;
	margin:0 auto;
	border:1px solid red;
	position:relative;
}

#gridder
{
	height:900px;
	width:900px;
	border:1px solid red;
}

.xdiv
{
	border:1px solid black;
	height:10px;
	width:10px;
}

.calgrid
{
	font-family:'arial', helvetica, sans-serif;
	color:#FFF;
	
}

.statusBar
{
	text-align: center;
}


.calgrid tr td
{
	padding:5px;
	background:#CCC;
	text-align:center;
}

.calgrid tr td.weekends
{
	background:#999;
}