h4{margin:0;}
body{
    font-family:Arial, Helvetica,sans-serif;
}

#container{
    width:1024px;
}

section#reviews{
    float:left;
    width:650px;
}

section#reviews ul, #sidebar ul{
    list-style:none;
}

section#reviews ul li{
    margin: 0 0 20px 0;
    border-bottom:1px solid gray;
}


#sidebar{
    width:350px;
    margin:0 auto;
    border:1px solid #CCC;
    float:right;
}


.sidebar-header{
    background:#000;
    color:#FFF;
    height:30px;
    padding:10px;

}

.rating-bar-outer{
    width:200px;
    height:20px;
    border:1px solid #CCC;
}

.rating-bar-outer .bar{
    background:#CCC;
    height:20px;
    width:0px;
}
